:root {
  --initial-transform: calc(100% + 8px);
  --button-border: 1px solid gainsboro;
}

:where([data-mm-drawer-trigger]) {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
  opacity: 0.5;
  transition: opacity 0.2s;
  width: 60px;
  background-color: inherit;
  border: none;
  outline: none;
}
:where([data-mm-drawer-trigger]:hover) {
  opacity: 1;
}
:where([data-mm-drawer-trigger][data-mm-open="true"]) {
  visibility: hidden;
}
:where([data-mm-drawer-trigger][data-mm-count-badge]) {
  position: absolute;
  top: 0;
  right: 2px;
  background-color: red;
  width: 10px;
  height: 10px;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  opacity: 1;
}

:where([data-mm-drawer-overlay]) {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

:where([data-mm-drawer-content]) {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  z-index: 10;
  outline: none;
  width: 550px;
  display: flex;
}

:where([data-mm-drawer-content-wrapper]) {
  background-color: white;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 0px 16px;
}

:where([data-mm-config-section]) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

:where([data-mm-method-button]) {
  background-color: inherit;
  border-radius: 8px;
  padding: 10px 16px;
  width: 100%;
  border: 1px solid gainsboro;
}

:where([data-mm-method-button][data-button-selected="true"]) {
  background-color: orange;
  color: black;
}

:where([data-mm-method-button]:hover) {
  background-color: orange;
  opacity: 0.5;
}

:where([data-mm-method-button]:active) {
  transform: translateY(1px);
}

:where([data-mm-label-wrapper]) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

:where([data-mm-label]) {
  font-size: 16px;
  font-weight: 700;
  min-width: fit-content;
  color: #333;
  display: flex;
  justify-content: space-between;
}

:where([data-mm-input]) {
  padding: 10px 16px;
  border: var(--button-border);
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
}
:where([data-mm-input][data-mm-input-error="true"]) {
  background-color: rgba(255, 0, 0, 0.2);
}

:where([data-mm-input]:focus) {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05),
    0 0 0 2px rgba(255, 165, 0, 0.3), 0 -1px 2px rgba(255, 255, 255, 0.8) inset;
}

:where([data-mm-textarea]) {
  padding: 6px 8px;
  border: var(--button-border);
  border-radius: 8px;
  font-size: 12px;
  resize: none;
  height: 150px;
}
:where([data-mm-textarea][data-mm-input-error="true"]) {
  background-color: rgba(255, 0, 0, 0.2);
}
:where([data-mm-textarea]:disabled) {
  cursor: not-allowed;
  background-color: lightgray;
}

:where([data-mm-last-button]) {
  background-color: inherit;
  border: var(--button-border);
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
}
:where([data-mm-submit]) {
  background-color: #2563eb;
  color: white;
}
:where([data-mm-last-button]:hover) {
  opacity: 0.8;
}
:where([data-mm-last-button]:active) {
  transform: translateY(1px);
}

:where([data-mock-list]) {
  list-style: none;
  padding: 0px;
}

:where([data-mm-nested-trigger]) {
  background-color: inherit;
  font-size: 14px;
  border: var(--button-border);
  padding: 16px 0px;
  cursor: pointer;
}

:where([data-mock-item]) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--button-border);
}
:where([data-mock-item]:hover) {
  background-color: rgba(255, 160, 122, 0.3);
}

:where([data-method-badge]) {
  padding: 3px 6px;
  border: var(--button-border);
  border-radius: 4px;
}

:where([data-method-badge][data-method-badge-value="get"]) {
  background-color: lightgreen;
}
:where([data-method-badge][data-method-badge-value="post"]) {
  background-color: lightblue;
}
:where([data-method-badge][data-method-badge-value="delete"]) {
  background-color: lightpink;
}
:where([data-method-badge][data-method-badge-value="put"]) {
  background-color: lightyellow;
}
:where([data-method-badge][data-method-badge-value="patch"]) {
  background-color: lightslategray;
}

:where([data-mm-pass-badge]) {
  background-color: rgba(6, 121, 229, 0.2);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

:where([data-mm-delay-badge]) {
  background-color: rgba(255, 255, 0, 0.2);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

:where([data-mm-error-badge]) {
  background-color: rgba(255, 0, 0, 0.1);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}
:where([data-mm-delete-badge]) {
  border: none;
  background-color: inherit;
}
