.mock-pilot {
  --initial-transform: calc(100% + 8px);
  --button-border: 1px solid gainsboro;
  --border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mock-pilot * {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  line-height: 1;
}

.mock-pilot button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.mock-pilot input,
.mock-pilot textarea {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  outline: none;
}

.mock-pilot *,
.mock-pilot *::before,
.mock-pilot *::after {
  box-sizing: border-box;
  border-width: initial;
  border-style: none;
  border-color: initial;
  margin: 0;
  padding: 0;
}

.mock-pilot [data-mm-drawer-trigger] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
  opacity: 0.5;
  transition: opacity 0.2s;
  width: 60px;
  background-color: inherit;
  border: none;
  outline: none;
}
.mock-pilot [data-mm-drawer-trigger]:hover {
  opacity: 1;
}
.mock-pilot [data-mm-drawer-trigger][data-mm-open="true"] {
  visibility: hidden;
}
.mock-pilot [data-mm-drawer-trigger][data-mm-count-badge] {
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: red;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
  opacity: 1;
}

:is([data-mm-drawer-overlay]) {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

:is([data-mm-drawer-content]) {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  z-index: 10;
  outline: none;
  width: 550px;
  display: flex;
}

.mock-pilot [data-mm-drawer-title] {
  font-size: 20px;
  margin: 8px 0px;
  font-weight: 700;
}

.mock-pilot [data-mm-drawer-content-wrapper] {
  background-color: white;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 0px 10px;
}

.mock-pilot [data-mm-config-section] {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  padding: 0px 10px;
}

.mock-pilot [data-mm-method-button] {
  background-color: inherit;
  border-radius: var(--border-radius);
  padding: 8px 16px;
  width: 100%;
  border: 1px solid gainsboro;
  font-size: 14px;
}

.mock-pilot [data-mm-method-button][data-button-selected="true"] {
  background-color: orange;
  color: black;
}

.mock-pilot [data-mm-method-button]:hover {
  background-color: orange;
  opacity: 0.5;
}

.mock-pilot [data-mm-method-button]:active {
  transform: translateY(1px);
}

.mock-pilot [data-mm-label-wrapper] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mock-pilot [data-mm-label] {
  font-size: 16px;
  font-weight: 700;
  min-width: fit-content;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.mock-pilot [data-mm-input] {
  padding: 5px 16px;
  border: var(--button-border);
  border-radius: var(--border-radius);
  background-color: white;
  font-size: 16px;
}
.mock-pilot [data-mm-input][data-mm-input-error="true"] {
  background-color: rgba(255, 0, 0, 0.2);
}

.mock-pilot [data-mm-input]:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05),
    0 0 0 2px rgba(255, 165, 0, 0.3), 0 -1px 2px rgba(255, 255, 255, 0.8) inset;
}

.mock-pilot [data-mm-textarea] {
  padding: 6px 8px;
  border: var(--button-border);
  border-radius: var(--border-radius);
  font-size: 14px;
  resize: none;
  height: 150px;
}
.mock-pilot [data-mm-textarea][data-mm-input-error="true"] {
  background-color: rgba(255, 0, 0, 0.2);
}
.mock-pilot [data-mm-textarea]:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.mock-pilot [data-mm-last-button] {
  background-color: inherit;
  border: var(--button-border);
  padding: 8px 16px;
  border-radius: var(--border-radius);
  font-size: 16px;
}
.mock-pilot [data-mm-submit] {
  background-color: #2563eb;
  color: white;
}
.mock-pilot [data-mm-last-button]:hover {
  opacity: 0.8;
}
.mock-pilot [data-mm-last-button]:active {
  transform: translateY(1px);
}

.mock-pilot [data-mock-list] {
  list-style: none;
  padding: 0px;
}

.mock-pilot [data-mock-item] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: var(--button-border);
}
.mock-pilot [data-mock-item]:hover {
  background-color: rgba(255, 160, 122, 0.3);
}

.mock-pilot [data-mock-item][data-mock-item-isActive="false"] {
  background-color: rgb(51, 51, 51, 0.3);
  opacity: 0.6;
}

.mock-pilot [data-method-badge] {
  padding: 3px 6px;
  border: var(--button-border);
  border-radius: 4px;
  cursor: pointer;
}

.mock-pilot [data-method-badge][data-method-badge-value="get"] {
  background-color: lightgreen;
}
.mock-pilot [data-method-badge][data-method-badge-value="post"] {
  background-color: lightblue;
}
.mock-pilot [data-method-badge][data-method-badge-value="delete"] {
  background-color: lightpink;
}
.mock-pilot [data-method-badge][data-method-badge-value="put"] {
  background-color: lightyellow;
}
.mock-pilot [data-method-badge][data-method-badge-value="patch"] {
  background-color: lightslategray;
}

.mock-pilot [data-method-badge][data-method-badge-isActive="false"] {
  background-color: white;
}

.mock-pilot [data-mm-pass-badge] {
  background-color: rgb(100, 231, 100, 0.2);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

.mock-pilot [data-mm-success-badge] {
  background-color: rgb(53, 53, 255, 0.2);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

.mock-pilot [data-mm-delay-badge] {
  background-color: rgba(255, 255, 0, 0.2);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

.mock-pilot [data-mm-error-badge] {
  background-color: rgba(255, 0, 0, 0.2);
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}
.mock-pilot [data-mm-delete-badge] {
  border: none;
  background-color: inherit;
}

.mock-pilot [data-mm-gap-box] {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}
